.project__section {
  margin: var(--MARGIN) 0;
  /* padding: var(--PADDING-TB) 0; */
  /* display: flex;
  flex-flow: column; */
}

.projects__dt,
.projects__dd {
  /* display: flex;
  flex-flow: column wrap; */
}
