.education {
  margin-bottom: var(--MARGIN);
}

.education .container {
  margin-top: 2rem;
}

.education h2,
.education h3 {
  margin-bottom: 1rem;
}

.education address {
  margin-bottom: 1rem;
}

.education section {
  margin-top: 2rem;
}

.education aside {
  margin-top: 1.5rem;
}

.education details {
  margin: 1rem 0;
}

.education .aside__summary {
  margin-bottom: 1rem;
  cursor: pointer;
}

.education details div {
  padding: 1rem;
}

.education p {
  margin-bottom: 1rem;
}
