.skills {
}

.skills__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: var(--PADDING-CONTAINER-TB) var(--PADDING-CONTAINER-SIDE);
  margin-bottom: var(--MARGIN);
}

.skills__dl {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border-right: 1px solid #000;
}

.skills_dd {
  margin-bottom: 15px;
  h2 {
    padding: 0;
  }
}

.skills_dt {
  padding-left: var(--PADDING-P-SIDE);
}

.skills_li {
  margin-bottom: 10px;
}
