.contact {
}

.contact__h1 {
  text-align: center;
}

.contact__h1::after {
  content: " I'd really like to hear from you!";
  font-size: 0.9rem;
}

.contact__section {
  margin: var(--MARGIN);
}

.contact__h2 {
  color: var(--FONT-COLOR);
  font-size: 25px;
}
.contact__h2:after {
  height: 0;
}

.contact__img2 {
  width: 35px;
  margin-left: 10px;
}

.contact__a {
  /* padding: 0 var(--PADDING-P-SIDE); */
  /* margin-left: var(--MARGIN-P-SIDE); */
}

.contact__ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact__ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact__ul li a {
  display: flex;
  flex-flow: row nowrap;
}

.section__section {
  width: 50%;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.72);
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px line 10px;
  color: gray;
}

.form__label {
  font-weight: bold;
}

.contact__address {
  color: var(--FONT-COLOR);
}

.contact__img {
  background-color: papayawhip;
  border-radius: 50%;
}

.contact__ul {
  padding: 0 var(--PADDING-P-SIDE);
}
.contact__li {
  background-color: var(--SOCIAL-BUTTON-BG);
  border-radius: 50%;
  border: 1px solid #333;
  cursor: pointer;
  padding: 10px;
}

/* || MEDIA QUERIES */

@media (max-width: 750px) {
  .contact-col {
    padding: 20px;
  }

  .contact__ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}

@media (max-width: 450px) {
  .contact__ul {
    display: block;
  }
  .contact__ul li {
    margin: 10px 0;
  }

  .contact-col h2 {
    font-size: 20px;
  }
}
