.header {
  background-color: #4caf50;
  /* color: #fff; */
  padding: 20px;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid #388e3c;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.header p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #eee;
}

.contact-info {
  margin-top: 10px;
}

.github-link {
  display: inline-block;
  margin: 10px 0;
  font-size: 1.2em;
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.github-link:hover {
  color: #0366d6;
}

.email-phone {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.email-phone p {
  margin: 0;
  font-size: 1em;
  color: #ccc;
  display: flex;
  align-items: center;
}

.email-phone p svg {
  margin-right: 8px;
  color: #ccc;
}

/*


header p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

.github-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.github-link:hover {
  color: #21a1f1;
} */
