header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #388e3c;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

.github-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.github-link:hover {
  color: #21a1f1;
}
