.navbar {
  background-color: var(--NAV-BG);
  border-bottom: var(--BORDERS);
  font-weight: bold;
  height: var(--NAV-HEIGHT);
}

.navbar__h1 {
  display: flex;
  justify-content: space-around;
  gap: 0.3em;
}

.navbar__ul {
  background-color: var(--NAV-BG);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.navbar__span {
  font-size: large;
  padding: 1em;
  margin-left: auto;
}

.navbar__a {
  text-decoration: none;
  font-weight: normal;
  position: relative;
}

.navbar__a-animation {
  padding: 1em;
}

.navbar__a:any-link {
  color: var(--NAV-COLOR);
}

.navbar__a:hover,
.navbar__a:focus-visible {
  color: var(--NAV-HOVER);
}

.navbar__a:active {
  color: var(--NAV-ACTIVE);
}

.fa-github-icon {
  position: absolute;
  animation: moveAround 30s linear infinite;
}

.scroll-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: -2;
  background-color: var(--DARK-BUTTON);
  border-radius: 50%;
  border: 1px solid var(--BORDER-COLOR);
  padding: 15px;
}

.menu-icon {
  display: none;
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  37.5% {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  62.5% {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  87.5% {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* || MEDIA QUERY */

@media (max-width: 1200px) {
  .span-redundent {
    display: none;
  }
}

@media (max-width: 1030px) {
  .hide-mobile-menu {
    position: relative;
    top: -10000px;
  }

  .navbar__ul {
    flex-flow: column nowrap;
    justify-content: center;
    border-left: 1px solid black;

    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #a17f74;
    z-index: -1;
    padding-top: 70px;
    transition: 0.5s;
  }

  .hide-mobile-menu {
    display: none;
  }

  .menu-icon {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    top: 1em;
    right: 2%;
    width: 30px;
    cursor: pointer;
    z-index: 3;
    pointer-events: auto;
  }
}

@media (max-width: 750px) {
  .navbar__h1 {
    justify-content: flex-start;
  }
  .span-redundent2 {
    display: none;
  }
  .span-redundent3 {
    display: none;
  }
  .navbar__a {
    margin-right: 0.5em;
  }
}

@media (max-width: 550px) {
  .scroll-up {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .span-redundent4 {
    display: none;
  }
  .dev::after {
    content: " dev.";
  }
}
