@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: whitesmoke;
  font-size: 20px;
}

/* 
BACKGROUND
*/

.first-element {
  background: linear-gradient(rgba(4, 28, 56, 0.72), rgba(23, 52, 85, 0.72));
  /* background: linear-gradient(rgba(62, 68, 75, 0.72), rgba(8, 43, 92, 0.722)); */
}
.second-element {
  background: linear-gradient(rgba(23, 52, 85, 0.72), rgba(33, 63, 97, 0.72));
}
.third-element {
  background: linear-gradient(rgba(33, 63, 97, 0.72), rgba(43, 72, 106, 0.72));
}
.fourth-element {
  background: linear-gradient(rgba(43, 72, 106, 0.72), rgba(54, 82, 114, 0.72));
}
.fifth-element {
  background: linear-gradient(rgba(54, 82, 114, 0.72), rgba(62, 90, 122, 0.72));
}
.sixth-element {
  background: linear-gradient(
    rgba(62, 90, 122, 0.72),
    rgba(71, 100, 134, 0.72)
  );
}
.seventh-element {
  background: linear-gradient(
    rgba(71, 100, 134, 0.72),
    rgba(80, 104, 131, 0.72)
  );
}

/* || UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

/* My css */
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(78, 96, 81);
  color: #000;
}

body {
  background: #f5f5f5;
}

h1 {
  text-align: center;
  color: rgb(33, 46, 160);
  font-weight: 400;
  font-size: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero-title {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: rgb(15, 0, 82);
  margin-top: 5px;
  text-transform: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

article {
  /* margin: 0.5em; */
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2em;
}

section {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if there's not enough space */
  gap: 16px; /* Space between items */
  box-sizing: border-box; /* Includes padding in the element's total width and height */
}

.navbar {
  width: 100%;
  color: white;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 110px;
}

.menu-icon {
  display: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

.dark-nav {
  background: rgb(8, 44, 95);
  transition: 0.5s;
}

.github {
  margin-right: 20px;
}

.hero {
  width: 100%;
  padding-left: 10px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

/* .hero-text h1 {
  font-size: 60px;
  font-weight: 600;
} */
.hero-text h2 {
  font-size: 40px;
  font-weight: 600;
}
.hero-text h3 {
  font-size: 30px;
  font-weight: 600;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

.about {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.experience {
  padding-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.projects {
  /* margin: 60px auto; */
  padding-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* width: 90%; */
}

.education {
  /* margin: 80px auto; */
  /* width: 90%; */
  padding-left: 15px;
  text-align: center;
}

.skills-container {
  padding-left: 15px;
  position: relative;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.skills-category {
  width: 25%;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.routine ul {
  margin-left: 50px;
  margin-top: 10px;
}

.contact-title {
  h2 {
    margin-top: 5px;
    margin-bottom: 80px;
    font-size: 45px;
    color: rgb(33, 46, 160);
  }
  h3 {
    color: rgb(33, 46, 160);
    font-size: 25px;
  }
  padding-top: 30px;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact {
  /* margin: 70px auto; */
  padding-left: 25px;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact-col {
  flex-basis: 48%;
  color: #676767;
}

.contact-col h3 {
  color: #000f38;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col h3 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 450px;
  list-style: 1.3;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.72);
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  /* border: rgb(78, 96, 81); */
  border-radius: 10px;
  border: 2px line 10px;
  color: gray;
}

/* .formInput {
  background-color: rgba(239, 2, 2, 0.059);
} */

.contact-col span {
  display: block;
  margin: 20px 0;
}

.btn {
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background-color: #212ea0;
  color: white;
}

footer {
  p {
    color: black;
    font-size: 14px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;
  color: black;
}

footer div {
  display: flex;
  flex-direction: row;
}

footer div p {
  margin-right: 20px;
}

footer div a {
  display: inline-block;
  margin-right: 20px;
  color: black;
}

/* -------- media query ----------- */

@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 22px;
  }
}

@media (max-width: 1000px) {
  nav ul li {
    margin: 10px 15px;
  }
  .logo {
    width: 40px;
  }
}

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 40px;
  }

  nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #1826a9;
    z-index: -1;
    width: 150px;
    padding-top: 70px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 20px 10px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }
}

@media (max-width: 700px) {
  .contact {
    display: block;
  }
  .contact-col {
    padding: 20px;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h2 {
    font-size: 20px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h3 {
    font-size: 10px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 14px;
    margin: 15px auto 30px;
  }
}
