@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
body {
  font-family: "Outfit", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
}
.page {
  background: linear-gradient(wheat, #d6d6d6);
  /* background: linear-gradient(#e5e5e5, #d6d6d6); */
}

.dark-nav {
  background: #a17f74;
  /* background: rgb(123, 148, 159); */
  /* background: #f97e63; */
  transition: 0.5s;
}

/* My css */
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background-color: rgb(78, 96, 81); */
  color: #000;
}

.scroll-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  background-color: #007bff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 15px;
}

h1 {
  /* padding-top: 40px;
  padding-bottom: 20px; */
  color: #343a40;
  /* color: whitesmoke; */
  font-weight: 400;
  font-size: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #495057;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.08em;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 10px;
}

h3 {
  padding-top: 15px;
  padding-bottom: 10px;
  color: #6c757d;
}

h4 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #4b6584;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: 1;
  cursor: pointer;
}

a:hover,
a:focus,
.scroll-up:hover,
.scroll-up:focus,
.social button:hover,
.social button:focus {
  /* filter: brightness(0.5); */
  opacity: 0.7;
  color: steelblue;
  /* filter: brightness(1.8); */
}

.social {
  background-color: inherit;
  color: white;
  font-size: inherit;
  /* padding: 1rem; */
  margin-right: 1%;
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  button {
    border-radius: 50%;
    border-top: 1px solid #333;
    cursor: pointer;
    display: block;
    padding: 10px;
    /* a {
      margin: 0.7em;
      background-color: white;
      border: 1px none black;
      border-radius: 50%;
    } */
    a img {
      min-height: 40px;
      min-width: 40px;
      width: 80%;
    }
  }
}

/*Maybe color the buttons */
/* .social button:first-child {
  background-color: green;
} */

article {
  max-width: 900px;
}

.navbar {
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-bottom: 1px solid black;
}
.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  display: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  /* font-size: 16px; */
}

header {
  padding: 1% 5%;
  width: 100%;
  position: sticky;
  top: 68px;
  background-color: #495057;
  z-index: 1;
  h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    color: whitesmoke;
  }
}

.github {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0em;
  margin-left: 3em;
}

.github a {
  padding: 1em;

  position: relative;
  display: inline-block;
}

.github a .fa-github {
  position: absolute;
  animation: moveAround 30s linear infinite;
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  37.5% {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  62.5% {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  87.5% {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  100% {
    top: 0;
    left: 0;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-left: 10px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  /* font-family: fantasy; */
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  color: #a17f74;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero-text h2 {
  font-family: inherit;
  font-size: 40px;
  font-weight: 600;
}

.hero-text h2::after,
.contact-col h2::after {
  height: 0;
}

.hero-text h3 {
  font-size: 30px;
  font-weight: 600;
}

.hero-text p {
  font-family: inherit;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

.description {
  text-align: justify;
}

.about {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.about p {
  text-align: justify;
}

.experience {
  h1 {
    padding-top: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responsibilities p {
  max-width: 900px;
  word-wrap: break-word;
}

.projects {
  ul article {
    margin-bottom: 10px;
  }
  ul article p {
    word-wrap: break-word;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 100%;
}

.skills-category {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: stretch; */
  align-items: flex-start;

  /* flex: 1 1 200px; */
  width: 25%;
  margin: 5%;
  max-width: 305px;
  min-width: 305px;
  margin-right: 10px;
  word-wrap: break-word;
  border-right: 1px solid #000;
  h2 {
    margin-right: 1em;
  }
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  flex-grow: 1;
}

.routine ul {
  margin-left: 50px;
  margin-top: 10px;
}

.contact-title {
  h2 {
    margin-top: 5px;
    margin-bottom: 80px;
    font-size: 45px;
    color: rgb(33, 46, 160);
  }
  h3 {
    color: rgb(33, 46, 160);
    font-size: 25px;
  }
  padding-top: 30px;
  font-weight: 200;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact-container {
  padding-left: 25px;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact-col {
  flex-basis: 48%;
  color: #676767;
}

.contact-col h2 {
  color: #000f38;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  letter-spacing: 0;
}

.contact-col h2 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 450px;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact-col ul li a {
  display: flex;
  flex-flow: row nowrap;
}

.contact-container form input,
.contact-container form textarea {
  display: block;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.72);
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  border-radius: 10px;
  border: 2px line 10px;
  color: gray;
}

.contact-col span {
  display: block;
  margin: 20px 0;
}

.btn {
  background: white;
  color: #212121;
  padding: 10px 18px;
  /* font-size: 16px; */
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background-color: #212ea0;
  color: white;
}
.contact {
  margin-bottom: 165px;
}

footer {
  p {
    color: black;
    font-size: 14px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;
  color: black;
}

/* -------- media query ----------- */

@media (max-width: 1200px) {
  .github p {
    display: none;
  }

  nav ul li {
    font-size: 16px;
    a {
      font-size: 16px;
    }
  }
  .github {
    font-size: 16px;
  }
  .btn {
    padding: 14px 22px;
  }
}

@media (max-width: 1030px) {
  header {
    top: 72px;
  }
  nav ul li {
    margin: 10px 15px;
  }
  .social button {
    padding: 5px;
  }
}

@media (max-width: 935px) {
  header {
    top: 72px;
    h1 {
      font-size: 3em;
    }
  }
  .hero-text h1 {
    font-size: 4em;
  }

  .navbar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .navbar ul {
    flex-flow: column nowrap;
    border-left: 1px solid black;

    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #a17f74;
    z-index: -1;
    width: 150px;
    padding-top: 70px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 20px 10px;
  }
  .github {
    margin-left: 40%;
  }

  .menu-icon {
    display: block;
    width: 30px;
    margin-right: 2%;
    cursor: pointer;
  }
  navbar ul:has(.hide-mobile-menu) {
    right: -200px;
  }

  .scroll-up {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  .social button {
    padding: 2px;
  }
  .contact-container {
    display: block;
  }
  .contact-col {
    padding: 20px;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media (max-width: 650px) {
  header {
    top: 78px;
  }
  header h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }

  .hero-text h1 {
    font-size: 50px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h2 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h3 {
    font-size: 20px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 16px;
    margin: 15px auto 30px;
  }
  article {
    border: none;
  }
  .container {
    padding-left: 7%;
  }
}

@media (max-width: 450px) {
  .social button {
    padding: 0;
  }
  .container {
    padding-left: 10%;
  }
  .contact-col h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 1.5em;
  }
}
