@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: #2c2c2c;
  font-size: 20px;
  /* text-align: justify; */
}

.page {
  background: linear-gradient(wheat, #d6d6d6);
  /* background: linear-gradient(#e5e5e5, #d6d6d6); */
}

.dark-nav {
  background: #a17f74;
  /* background: rgb(123, 148, 159); */
  /* background: #f97e63; */
  transition: 0.5s;
}

/* My css */
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background-color: rgb(78, 96, 81); */
  color: #000;
}

.scroll-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  background-color: #007bff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 15px;
}

h1 {
  /* padding-top: 40px;
  padding-bottom: 20px; */
  color: #343a40;
  /* color: whitesmoke; */
  font-weight: 400;
  font-size: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #495057;
  font-weight: 300;
  font-size: 30px;
}
h3 {
  padding-top: 15px;
  padding-bottom: 10px;
  color: #6c757d;
}
h4 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #4b6584;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: 1;
  cursor: pointer;
}

a:hover,
a:focus {
  /* filter: brightness(0.5); */
  opacity: 0.8;
}

.social {
  background-color: inherit;
  color: white;
  font-size: inherit;
  /* padding: 1rem; */
  margin-left: 1%;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 3%;
  /* height: 20%; */
  button {
    border-radius: 50%;
    border-top: 1px solid #333;
    cursor: pointer;
    display: block;
    a img {
      min-height: 40px;
      min-width: 40px;
      width: 80%;
    }
  }
}

article {
  max-width: 900px;
}

.navbar {
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 90px;
}

.menu-icon {
  display: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  /* font-size: 16px; */
}

header {
  padding: 1% 5%;
  width: 100%;
  position: sticky;
  top: 98px;
  background-color: #495057;
  z-index: 1;
  h1 {
    font-size: 60px;
    letter-spacing: 5px;
    color: whitesmoke;
  }
}

.github {
  margin-right: 20px;
}

.hero {
  width: 100%;
  height: 100vh;
  padding-left: 10px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  /* font-family: fantasy; */
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  color: #a17f74;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero-text h2 {
  font-family: inherit;
  font-size: 40px;
  font-weight: 600;
}
.hero-text h3 {
  /* font-family: fantasy;
  word-spacing: 0.1em;
  letter-spacing: 0.1em; */
  font-size: 30px;
  font-weight: 600;
}

.hero-text p {
  font-family: inherit;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

.description {
  text-align: justify;
}

.about {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.about p {
  text-align: justify;
}

.experience {
  h1 {
    padding-top: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responsibilities p {
  max-width: 900px;
  word-wrap: break-word;
}

.projects {
  ul article {
    margin-bottom: 10px;
  }
  ul article p {
    word-wrap: break-word;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills {
  /* padding-left: 15px; */
  /* position: relative; */
}

.skills-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 100%;
}

.skills-category {
  /* flex-basis: 100%; */
  flex: 1 1 200px;
  width: 25%;
  margin: 5%;
  margin-right: 10px;
  display: inline-block;
  word-wrap: break-word;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  flex-grow: 1;
}

.routine ul {
  margin-left: 50px;
  margin-top: 10px;
}

.contact-title {
  h2 {
    margin-top: 5px;
    margin-bottom: 80px;
    font-size: 45px;
    color: rgb(33, 46, 160);
  }
  h3 {
    color: rgb(33, 46, 160);
    font-size: 25px;
  }
  padding-top: 30px;
  font-weight: 200;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact-container {
  padding-left: 25px;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact-col {
  flex-basis: 48%;
  color: #676767;
}

.contact-col h2 {
  color: #000f38;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col h2 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 450px;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact-container form input,
.contact-container form textarea {
  display: block;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.72);
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  border-radius: 10px;
  border: 2px line 10px;
  color: gray;
}

.contact-col span {
  display: block;
  margin: 20px 0;
}

.btn {
  background: white;
  color: #212121;
  padding: 10px 18px;
  /* font-size: 16px; */
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background-color: #212ea0;
  color: white;
}
.contact {
  margin-bottom: 165px;
}

footer {
  p {
    color: black;
    font-size: 14px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;
  color: black;
}

/* -------- media query ----------- */

@media (max-width: 1200px) {
  nav ul li {
    font-size: 16px;
    a {
      font-size: 16px;
    }
  }
  .github {
    font-size: 16px;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 14px 22px;
  }
}

@media (max-width: 1000px) {
  nav ul li {
    margin: 10px 15px;
  }
  .logo {
    width: 40px;
  }
}

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 40px;
  }

  nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #ffae6d;
    z-index: -1;
    width: 150px;
    padding-top: 70px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 20px 10px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }

  .scroll-up {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  .contact-container {
    display: block;
  }
  .contact-col {
    padding: 20px;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media (max-width: 650px) {
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }

  .hero-text h1 {
    font-size: 50px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h2 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text h3 {
    font-size: 20px;
    max-width: 400px;
    margin: auto;
  }
  .hero-text p {
    font-size: 16px;
    margin: 15px auto 30px;
  }
  article {
    border: none;
  }
}

@media (max-width: 450px) {
  .contact-col h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }
}
